@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SFProDisplay-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SFProDisplay-Semibold.ttf') format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SFProDisplay-Bold.ttf')format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./assets/fonts/SFProText-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./assets/fonts/SFProText-Semibold.ttf') format("truetype");
    font-style: normal;
    font-weight: 600;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --shade: #595976;
    --text-dark: #8B8B8B;
    --text-light: #606060;
    --bg-dark: #232340;
    --primary: #5468E7;
    --years: rgba(255, 255, 255, 0.6);
    --shade-blue: #D1ECFD;
    --shade-yellow: #FFCE79;
    --accent-purple: #9A97ED;
    --stroke: #D8D8D8;
    --deactive: #ADADAD;
}

body {
    font-family: 'SF Pro Display', Times, serif;
}

/* header */
.header {
    background-image: url("./assets/images/bg_path_blue.svg");
    background-repeat: no-repeat;
    background-position: top 0 right -250px;
}

/* navbar */
.header__nav {
    margin-bottom: 94px;
    z-index: 99;
}

.navbar__list {
    position: fixed;
    inset: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-dark);
    background-image: url("./assets/images/bg_path.svg");
    background-repeat: no-repeat;
    background-position: top 0 left 94px;
}

.__list {
    width: 100%;
    padding: 0 32px;
    list-style: none;
}

.__list-link {
    margin-bottom: 40px;
}

.__list-link a {
    text-decoration: none;
    color: var(--shade);
    font-size: 32px;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: -0.5px;
}

.__list-link a:hover,
.__list-link a:active,
.__list-link a:focus {
    color: var(--white);
}

.nav__button {
    width: 30px;
    height: 30px;
    position: relative;
    background-color: unset;
    border: 0;
    transition: all 2s ease-in-out;
}

.toggler-icon {
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    border-radius: 1px;
    opacity: 1;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
}

.top {
    top: 13px;
    background-color: var(--white);
    transform: rotate(135deg);
}

.bot {
    bottom: 14px;
    background-color: var(--white);
    transform: rotate(-135deg);
}

.notShow .top {
    top: 8px;
    background-color: var(--black);
    transform: rotate(0deg);
}

.notShow .bot {
    bottom: 8px;
    background-color: var(--black);
    transform: rotate(0deg);
}

/* hero */
.hero {
    position: relative;
    min-height: 722px;
    padding-left: 63px;
    background-image: url("./assets/images/bg_hero.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom right;
}

.hero__wrap {
    max-width: 35%;
    padding-top: 1rem;
}

.hero__title {
    font-size: 84px;
    line-height: 100px;
    font-weight: bold;
    letter-spacing: -1px;
    color: var(--bg-dark);
    margin-bottom: 40px;
}

.hero__para {
    font-size: 18px;
    line-height: 32px;
    color: var(--shade);
    margin-bottom: 48px;
}

.hero__scroll {
    position: absolute;
    bottom: 0;
    left: 63px;
}

.hero__scroll-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-dark);
}

.hero__scroll-link span {
    margin-left: 1rem;
}

/* main */
/* section who */
.section__who {
    margin-top: 40px;
    background-color: var(--bg-dark);
    position: relative;
}

.section__who::before {
    content: '';
    width: 802px;
    height: 1052px;
    position: absolute;
    top: -40px;
    right: 0;
    background: url("./assets/images/bg_year-2.svg");
    background-repeat: no-repeat;
}

.who__head {
    display: flex;
    position: relative;
    margin-bottom: 94px;
}

.who__headline {
    max-width: 60%;
}

.who__logo {
    margin-right: 176px;
}

.who__tag {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 24px;
}

.who__tag span {
    color: var(--text-dark);
    margin-right: 24px;
}

.who__title {
    font-size: 64px;
    line-height: 72px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: var(--white);
}

.who__years {
    display: flex;
    position: relative;
    margin-bottom: 169px;
}

.who__list {
    display: flex;
    align-items: center;
}

.who__list li {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 90px;
    color: var(--years);
    cursor: pointer;
}

.who__list li::after {
    content: '';
    background: url("./assets/images/point_line.png");
    width: 130px;
    height: 16px;
    position: absolute;
    transform: translateX(50%);
    opacity: 0;
}

.who__list li:hover::after {
    opacity: 1;
}

.who__list li:last-child {
    margin-bottom: 0;
}

.who__list li::marker {
    content: '-';
}

.who__list span {
    padding-left: 44px;
}

.who__content {
    display: flex;
    position: relative;
}

.who__content-left {
    justify-content: end;
    align-items: center;
}

.who__article {
    position: relative;
    padding-left: 198px;
}

.who__article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 80px;
    background-color: var(--black);
}

.who__article-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 40px;
}

.who__article-para {
    font-size: 18px;
    line-height: 32px;
    color: var(--text-dark);
    margin-bottom: 40px;
}

.who__circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 402px;
    height: 402px;
    background-color: var(--bg-dark);
    box-shadow: 0px 23px 50px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    color: var(--white);
}

.circle__big {
    font-size: 200px;
    line-height: 239px;
    font-weight: 600;
}

.circle__small {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
    font-weight: bold;
}

/* section like */
.like__head {
    display: flex;
    position: relative;
    margin-bottom: 96px;
}

.like__headline {
    max-width: 45%;
}

.like__logo {
    margin-right: 176px;
}

.like__tag {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 24px;
}

.like__tag span {
    color: var(--text-dark);
    margin-right: 24px;
}

.like__title {
    font-size: 84px;
    line-height: 100px;
    font-weight: bold;
    letter-spacing: -1px;
    color: var(--bg-dark);
    margin-bottom: 40px;
}

.like__para {
    font-size: 18px;
    line-height: 32px;
    color: var(--text-light);
}

.like__content {
    padding-left: 199px;
}

.like__content-left {
    width: 367px;
    margin-right: auto;
    position: relative;
}

.content__bento-left {
    position: relative;
    margin-bottom: 40px;
}

.bento__tag {
    position: absolute;
    top: 40px;
    left: -40px;
    background-color: var(--accent-purple);
    border-radius: 20px;
    padding: 11px 23px;
    color: var(--white);
    z-index: 99;
}

.bento__arrow {
    position: absolute;
    right: -31px;
    bottom: 64px;
}

.bento__yellow {
    height: 500px;
    background-color: var(--shade-yellow);
    padding: 45px 0;
    border-radius: 24px;
}

.bento__yellow img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.like__content-right {
    width: 367px;
    margin-right: auto;
}

.content__bento-right {
    position: relative;
    margin-bottom: 40px;
}

.bento__blue {
    height: 500px;
    background-color: var(--shade-blue);
    padding: 45px 0;
    border-radius: 24px;
}

.bento__blue img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.bento__title {
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: -0.4px;
    color: var(--bg-dark);
    margin-bottom: 40px;
}

.bento__para {
    font-size: 18px;
    line-height: 32px;
    color: var(--text-light);
}

/* secntion agency */
.section__agency {
    background-color: var(--bg-dark);
    position: relative;
}

.agency__head {
    display: flex;
    position: relative;
    margin-bottom: 96px;
}

.agency__headline {
    max-width: 45%;
}

.agency__logo {
    margin-right: 176px;
}

.agency__tag {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 24px;
}

.agency__tag span {
    color: var(--text-dark);
    margin-right: 24px;
}

.agency__title {
    font-size: 64px;
    line-height: 72px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 40px;
}

.agency__content {
    padding: 0 199px;
}

.agency__content-left {
    position: relative;
}

.agency__article {
    width: 300px;
    margin-bottom: 55px;
}

.agency__wrap {
    margin-bottom: 64px;
    border-bottom: 1px solid var(--text-light);
}

.agency__big {
    font-size: 200px;
    line-height: 239px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 8px;
}

.agency__big sup {
    font-size: 64px;
    line-height: 72px;
    font-weight: bold;
    letter-spacing: -0.5px;
    vertical-align: super;
}

.agency__sub {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: var(--white);
    margin-bottom: 64px;
}

.agency__para {
    font-size: 18px;
    line-height: 32px;
    color: var(--text-light);
}

.agency__download a {
    text-decoration: none;
    color: var(--white);
}

.agency__download span {
    margin-left: 1rem;
}

.agency__carousel {
    position: relative;
    bottom: -248px;
}

/* section hiring */

.section__hiring {
    position: relative;
}

.hiring__head {
    display: flex;
    position: relative;
    margin-bottom: 96px;
}

.hiring__headline {
    max-width: 45%;
}

.hiring__logo {
    margin-right: 176px;
}

.hiring__tag {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 24px;
}

.hiring__tag span {
    color: var(--primary);
    margin-right: 24px;
}

.hiring__title {
    font-size: 110px;
    line-height: 131px;
    font-weight: bold;
    letter-spacing: -1.2px;
    color: var(--bg-dark);
    margin-bottom: 40px;
}

.hiring__para {
    font-size: 18px;
    line-height: 32px;
    color: var(--text-light);
    margin-bottom: 72px;
}

.hiring__link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-dark);
}

.hiring__link span {
    display: block;
    width: 20%;
    margin-left: 1rem;
}

.card {
    background-color: var(--white);
    border-radius: 40px;
    margin-bottom: 21px;
    padding: 1rem;
    min-height: 247px;
    transition: all .5s ease-in;
}

.card-body {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__head {
    padding-left: 48px;
}

.card__header {
    display: flex;
}

.card__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: var(--bg-dark);
    margin-bottom: 4px;
}

.card__notif {
    width: 32px;
    height: 32px;
    font-family: 'SF Pro Text', Times, serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    padding: 7px 12px;
    border-radius: 50%;
    background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
    margin-left: 1rem;
}

.card__para {
    font-size: 18px;
    line-height: 32px;
    color: var(--text-light);
    margin-bottom: 29px;
}

.card__img {
    opacity: 0;
}

.card:hover,
.card:focus,
.card:active {
    background-color: var(--bg-dark);
}

.card:hover .card__title,
.card:focus .card__title,
.card:active .card__title {
    color: var(--white);
}

.card:hover .card__para,
.card:focus .card__para,
.card:active .card__para {
    color: var(--text-dark);
}

.card:hover .card__img,
.card:focus .card__img,
.card:active .card__img {
    opacity: 1;
}

/* footer */
.footer__contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);
    grid-gap: 10px;
    background-color: var(--primary);

    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-bottom: 128px;
}


.grid_1 {
    grid-area: 1 / 1 / 1 / span 2;
    border-bottom: var(--white) 1px solid;
    padding: 128px 364px 176px;
}

.grid_2 {
    padding: 170px 120px;
    position: relative;
}

.grid_2::after {
    content: '';
    position: absolute;
    width: 1px;
    top: -20px;
    bottom: -10px;
    right: 0;
    background-color: var(--white);
}

.grid_3 {
    padding: 170px 120px;
}

.footer__logo {
    margin-bottom: 40px;
}

.footer__head {
    text-align: center;
}

.footer__tag {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 40px;
}

.footer__tag span {
    color: var(--white);
    margin-right: 12px;
}

.footer__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 40px;
}

.grid_2__para {
    font-size: 64px;
    line-height: 72px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: var(--white);
}

.grid_3__para {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: var(--white);
}

.grid_3__article {
    display: flex;
    justify-content: space-between;
}

.footer__about {
    text-align: center;
    width: 40%;
    margin: auto;
}

.footer__about-logo {
    margin-bottom: 48px;
}

.footer__about-para {
    font-size: 18px;
    line-height: 32px;
    color: var(--text-light);
    margin-bottom: 48px;
}

.footer__nav {
    margin-bottom: 48px;
}

.footer__nav li {
    font-size: 18px;
    line-height: 24px;
    color: var(--text-dark);
    margin-right: 64px;
}

.footer__nav li:hover,
.footer__nav li:focus,
.footer__nav li:active {
    color: var(--primary);
}

.footer__nav li:last-child {
    margin-right: 0;
}

.footer__nav .nav {
    justify-content: center;
}

.copy__tag a {
    text-decoration: none;
    color: var(--deactive);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.footer__copyright {
    border-top: var(--stroke) 1px solid;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 63px;
}

.copy__para {
    font-size: 14px;
    line-height: 18px;
    color: var(--primary);
    margin-right: 40px;
}

.copy__link li {
    margin-right: 40px;
}

.copy__link li:last-child {
    margin-right: 0;
}

.header__contact{
    border-radius: 8px;
    padding: 20px 44px;
    color: var(--white);
    background-color: var(--bg-dark);
    text-decoration: none;
}

.__nav .nav-link{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: var(--text-dark);
}

.__nav .nav-link:hover{
    color: var(--primary);
}

.bento__cont{
    display: none;
}

@media screen and (max-width:992px) {
    .__nav{
        display: none;
    }

    .head__contact{
        display: none;
    }

    .pad__hero{
        padding: 0 32px !important;
    }

    .pad__main{
        padding: 0 32px;
    }

    .header__nav{
        padding-top: 52px;
        margin-bottom: 44px;
    }

    .hero__title{
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.5px;
    }

    .hero__para{
        font-size: 16px;
        line-height: 28px;
    }

    .hero{
        background-size: contain;
        padding-left: 0;
    }

    .hero__wrap{
        max-width: unset;
    }

    .hero__scroll{
        display: none;
    }

    .header__social{
        padding-left: 32px;
        margin-top: 140px;
    }

    .who__logo{
        display: none;
    }

    .who__headline{
        max-width: 80%;
    }

    .pad__main{
        padding: 64px 32px !important;
    }

    .who__list{
        display: none;
    }

    .who__article{
        padding: 0;
    }

    .who__years{
        display: none;
    }

    .who__years-mob{
        margin-bottom: 56px;
    }

    .who__title{
        font-size: 40px;
        line-height: 48px;
    }

    .who__circle{
        width: 310px;
        height: 310px;
        margin-left: 0;
    }

    .who__article{
        margin-bottom: 48px;
    }

    .circle__big, .circle__small{
        margin: 0;
    }

    .circle__big{
        font-size: 144px;
        line-height: 167px;
    }

    .circle__small{
        font-size: 18px;
        line-height: 24px;
    }

    .like__logo{
        display: none;
    }

    .like__headline{
        max-width: 80%;
    }

    .like__title{
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 1rem;
    }

    .like__para{
        font-size: 16px;
        line-height: 28px;
    }

    .like__head{
        margin-bottom: 40px;
    }

    .like__content{
        padding: 0;
    }

    .bento__tag{
        display: none;
    }

    .bento__arrow{
        position: static;
        margin-top: 24px;
    }

    .bento__contact{
        display: block;
        border-radius: 8px;
        padding: 20px 44px;
        color: var(--white);
        background-color: var(--primary);
        text-decoration: none;
        text-align: center;
    }

    .bento__cont{
        display: block;
    }

    .bento__article{
        margin-bottom: 40px;
    }

    .agency__logo{
        display: none;
    }

    .agency__headline{
        max-width: 80%;
    }

    .agency__content{
        padding: 0;
        flex-direction: column-reverse;
    }

    .pad__agency{
        padding: 0 !important;
    }

    .agency__head{
        margin-bottom: 40px;
    }

    .bento__yellow, .bento__blue{
        overflow: hidden;
    }

    .agency__article{
        width:unset;
    }

    .agency__carousel button{
        display: none;
    }

    .hiring__logo{
        display: none;
    }

    .hiring__headline{
        max-width: 80%;
    }

    .hiring__title{
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 24px;
    }

    .hiring__para{
        font-size: 16px;
        line-height: 28px;
    }

    .hiring__link{
        display: none;
    }

    .hiring__head{
        margin-bottom: 0;
    }

    .card__img{
        display: none;
    }

    .grid_1, .grid_2, .grid_3{
        padding: 0;
    }

    .footer__title{
        
    }
}




/* global */
.pad__hero {
    padding: 64px 72px 80px;
}

.pad__main {
    padding: 128px 135px;
}

.pad__agency {
    padding-top: 147px;
}

.pad__footer {
    padding: 0 72px;
}

.mar__agency {
    margin-bottom: 260px;
}

.full {
    height: 100vh;
}

.off {
    display: none;
    transition: .5s ease-in-out;
}

.on {
    display: block;
    transition: .5s ease-in-out;
}

.active {
    display: block;
}

.__button {
    background-color: var(--primary);
    border-radius: 8px;
    border: 0;
    color: var(--white);
    padding: 20px 38px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.carousel-control-prev {
    left: 100px;
}

.carousel-control-next {
    right: 100px;
}

.carousel-control-next-icon {
    background-image: url("./assets/images/arrow_right.png");
}

.carousel-control-prev-icon {
    background-image: url("./assets/images/arrow_left.png");
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 64px;
    height: 64px;
    background-position: 50% 20%;
}